/* ikony fontawe */
.fa-angle-up:before {/*sipka nahoru*/
content: "\f106"}
.fa-clock:before {/*hodiny*/
content: "\f017"}
.fa-comments:before {/*komenty*/
content: "\f086"}
.fa-discord:before {/*discord*/
content: "\f392"}
.fa-facebook:before {/*facebook kulaty*/
content: "\f09a"}
.fa-file-download:before {/*download titulky*/
content: "\f56d";}
.fa-edit:before {/*editace prekladu*/
content: "\f044";}
.fa-question-circle:before {/*otaznik faq*/
content: "\f059"; }
.fa-info-circle:before {/*odpoved faq*/
content: "\f05a"; }
.fa-facebook-square:before {/*facebook kontakty*/
content: "\f082"; }
.fa-envelope:before {/*mail kontakty*/
content: "\f0e0"; }
.fa-cog:before {/*editace profilu*/
content: "\f013"; }
.fa-clipboard:before {/*kopirovani textu*/
    content: "\f328"; }
.fa-star:before {/*hvezda tym*/
    content: "\f005"; }
.fa-bars:before {/*burgr tym*/
    content: "\f0c9"; }
    .fa-arrow-left:before {/*burgr to sipka*/
        content: "\f060"; }
.fa-external-link-square-alt:before {/*otevrit v nove karte*/
    content: "\f360"; }
